/*------------------header----------------*/
.header {
    align-items: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*------------------nav----------------*/
.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__item .nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.nav__link.active {
    color: #333333;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

/*------------------header----------------*/

.banner__image {
    width: 100%;
    height: calc(100vh - 72px);
}
.banner__title {
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);
}

/*------------------about----------------*/
.about {
    text-align: center;
    padding: 2.5rem;

}

.about__title {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

.about__description {
    color: #595959;
    font-weight: 100;
}