/*------------------header----------------*/
.header {
    align-items: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*------------------nav----------------*/
.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__item .nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.nav__link.active {
    color: #333333;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

/*------------------banner section----------------*/

.banner__image {
    background: url("../img/banner.jpg") no-repeat center / cover;
    width: 100%;
}

.banner__title {
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);
}

/*------------------about section----------------*/
.about {
    text-align: center;


}

.about__title {
    color: #8d0606;
    font-family: Pacifico, cursive;
}

.about__description {
    color: #595959;
    font-weight: 100;
}

/*------------------recipe section----------------*/

.recipes {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem);
}

.recipe__image {
    height: 200px;
}

.recipe__title {
    font-size: 1.4375rem;
}

.recipe__description {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.recipe__content {
    padding: 1rem;
}

.recipe__button {
    background-color: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}

/*------------------who we are section----------------*/
.who-we-are__title {
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
}

.who-we-are {
    text-align: center;
    padding: 5rem;
}
.who-we-are__description {
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}

/*------------------people----------------*/

.person {
    flex-direction: column;
    display: flex;
    
}

.person__name {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;
}

.person__function {
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

.people {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.person__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.person__image--roberta {
    background-image: url("../img/personas/roberta.jpg");
}

.person__image--marcela {
    background-image: url("../img/personas/marcela.jpg");
}

.person__image--andrea {
    background-image: url("../img/personas/andrea.jpg");
}

/*------------------footer----------------*/

.footer {
    background-color: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

/*------------------responsive----------------*/


@media screen and (min-width: 0) {
    .logo {
        display: none;
    }

    .banner__image {
        height: calc(100vh - 51px);
    }

    .banner__title {
        font-size: 3rem;
    }

    .about {
        padding: 2.5rem 1rem;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__description {
        font-size: 1.3rem;
    }

    .recipe {
        margin-right: 1rem;
        width: 100%;
    }

    .recipes {
        padding: 5rem 0 0 1rem;
    }

    .person {
        margin-bottom: 2rem;
    }

    .people {
        flex-direction: column;
    }
}


@media screen and (min-width: 768px) {
    .header{
        justify-content: space-between;
        padding: 0 5rem;
    }

    .logo {
        display: block;
    }

    .banner__image {
        height: calc(100vh - 72px);
    }

    .banner__title {
        font-size: 5.0625rem;
    }

    .about {
        padding: 2.5rem;
    }
    
    .about__title {
        font-size: 3.1875rem;
    }

    .about__description {
        font-size: 1.75rem;
    }

    .recipe {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem);
    }

    .recipes {
        padding: 5rem 0 0 2.5rem;
    }

    .person {
        margin-bottom: 0;
    }

    .people {
        flex-direction: column;
    }
}


@media screen and (min-width: 922px) {
    .recipe {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }

    .recipes {
        padding: 5rem 0 0 5rem;
    }

}